.App{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-inline: auto;
  align-items: center;
  width: 80%;
  .Logo{
    margin-inline: auto;
    width: 10em;
    height: 10em;
  }
}